$border-color: #666;
$cell-color: white;
$stagnation-color: red;
$cell-gap: 1px;

:host {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.frame-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    background-color: #1d1d1d !important;

    border-style: solid;
    border-color: $border-color;
    border-width: 0 1px;

    &:first-child {
        border-top-width: 1px;
    }

    &:last-child {
        border-bottom-width: 1px;
    }
}

.frame-cell {
    border: 2px solid transparent;
    margin: $cell-gap;
}

.frame-cell:hover {
    border-color: gray;
    border-style: dotted;
}

.alive {
    background-color: $cell-color;
    &.stagnation {
        background-color: $stagnation-color;
    }
}
